.octopus {
	margin-left: 600px;
	margin-right: 600px;
	margin-top:200px;
	position: relative;
	z-index: 1;

}
.glasses {
	margin-left: 600px;
	margin-right: 600px;
	margin-top:200px;
	position: relative;
	/*top: 108px; */
	bottom: 395px;
	right: 560px;
	z-index: 2;
}
.hat {
	margin-left: 600px;
	margin-right: 600px;
	margin-top:200px;
	position: relative;
	/*bottom: 430px;*/
	bottom: 850px;
	right: 610px;
	z-index: 3;
}